<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  <head>
    {%- include head.html -%}
    <link rel="icon" type="image/png" href="/assets/funin.png"/>
    <meta name="apple-itunes-app" content="app-id=1559443266">
  </head>

  <body>

    {%- include header_funin.html -%}

    <main class="page-content" aria-label="Content">
      {%- if page.wrapperwide -%}
      <div class="wrapper-funin">
      {%- else -%}
      <div class="wrapper">
      {%- endif -%}
        <article class="post">
          <div class="post-content">
            {{ content }}
          </div>
        </article>
      </div>
    </main>

    {%- include footer_funin.html -%}

  </body>

</html>
